* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body, html {
	height: 100%;
	width: 100%;
}

.header-wrapper {
	background: #444444;
	height: 120px;

}

.main-wrapper {
	background: #D8D8D8;
	height: 100%;
}

.main-content {
	height: 100%;
	margin-left: 100px;
	margin-right: 100px;
	background: white;
}

.foot {
	background: #222222;
	height: 60px;
	margin-right: 100px;
	margin-left: 100px;
	margin-top: -60px;
}